<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="kiefer"><a  href="#"> </a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a target="_blank" href="https://github.com/benkiefer">GH</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <p>Do it</p>
</div>

<footer>

</footer>