<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul class="right">
      <li><a target="_blank" href="https://github.com/benkiefer">{{fa-icon "github" size=2 inverse=true classNames="navicon"}}</a></li>
      <li><a target="_blank" href="https://twitter.com/ben_a_kiefer">{{fa-icon "twitter" size=2 inverse=true classNames="navicon"}}</a></li>
    </ul>
  </section>
</nav>

<div class="row">
    <div class="small-12 columns">
          <ul class="gs-grid small-block-grid-1 medium-block-grid-3 large-block-grid-3">

              <li>
                  {{fa-icon "cloud" size=3 border=true}}
                  <p>I've developed applications for traditional server environments and the cloud.</p>
              </li>

              <li>
                {{fa-icon "mobile" size=3 border=true}}
                  <p>Create the right solution for your customers.</p>
              </li>

              <li>
                  <p>Words</p>
              </li>
          </ul>
    </div>
</div>

<footer>

</footer>